@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500;600;700&display=swap");

* {
    font-family: "Karla", sans-serif;
}

.nav .nav-item .nav-link {
    display: flex;
    align-items: center;
}

.department-description {
    max-height: 400px;
}
