@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500;600;700&display=swap");

* {
    font-family: "Karla", sans-serif;
}

.nav .nav-item .nav-link {
    display: flex;
    align-items: center;
}

.department-description,
.employee-description {
    max-height: 400px;
}

.avatar img {
    height: auto;
    width: 2.2rem;
    border: 2px solid #718096;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: unset;
}
